@import "tailwindcss";

* {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.card-text{
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent,black);
}